.product-container {
    width: 75%;
    margin: 0 auto;
}

.product-heading {
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    list-style-type: none;
    margin-top: 75px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img {
    width: 100%;
    height: 175px;
}

.quantity {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 10px;
    padding: 5px 0;
    margin: 0 auto;
}

.quantity-btn {
    background-color: #FF7A00;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.add-basket {
    margin-top: 10px;   
    background-color: #FF7A00;
    color: white;
    border: none;
    width: 75%;
    padding: 10px;
    cursor: pointer;
}